
body {
    background-color: lavender;
}
h1 {
    text-align: center;
}

/*----------------*/

.container{
    border: 2px solid black;
    /*height: 100vh;*/
    /*align-content: space-between;*/
}

/*----------------*/

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.box1 { order:1 ; background-color: aquamarine ;}
.box2 { order:2 ; background-color: cornflowerblue ;}
.box3 { order:3 ; background-color: greenyellow ;}
.box4 { order:4 ; background-color: mediumpurple ;}
.box5 { order:5 ; background-color: lightblue ;}

.container{
    display:flex;
}

.box {
    flex-grow: 1;
}

/*----------------*/
